<div class="animated fadeIn">

  <div class="row">
      <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <strong>Player</strong> History Details
            </div>
            <div class="card-body">
              <form class="form-horizontal">
                
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="text-input">Matches</label>
                  <div class="col-md-9">
                      <label class="col-md-3 col-form-label" for="text-input">{{matches}}</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Runs</label>
                    <div class="col-md-9">
                        <label class="col-md-3 col-form-label" for="text-input">{{runs}}</label>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="text-input">Highest Scores</label>
                      <div class="col-md-9">
                          <label class="col-md-3 col-form-label" for="text-input">{{highest_scores}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Fifties</label>
                        <div class="col-md-9">
                            <label class="col-md-3 col-form-label" for="text-input">{{fifties}}</label>
                          </div>
                      </div>
                    <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="text-input">Hundreds</label>
                          <div class="col-md-9">
                              <label class="col-md-3 col-form-label" for="text-input">{{hundreds}}</label>
                            </div>
                        </div>
                
              </form>
            </div>
            <div class="card-footer">
              
            </div>
          </div>
        </div>
  </div>
 </div>